
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>天谕端游</title>
  </head>

  <body class="page-body">
    <div class="main-content" style="display: block; margin-top: 0px">
      <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <!-- 报告正文标题区域 -->
        <div class="col-md-8 col-lg-8 col-sm-8">
          <div style="margin-bottom: 10px; background-color: white">
            <div style="font-size: 28px; text-align: center">
              <a
                style="
                  font-family: 黑体;
                  color: #666666;
                  font-size: 24px;
                  margin-bottom: 2px;
                "
                >本周D21EXE时装对比统计</a
              >
            </div>
          </div>
        <div>
            <p>本周次对比时装数量19个：</p>
            <ul>
              
              <li>sex2bodyType3+item(2595400)+model(74008)+effect(71307)</li>
              
              <li>sex2bodyType3+item(2595401)+model(74108)+effect(71305,71306)</li>
              
              <li>sex2bodyType3+item(2595402)+model(74208)+effect(74209)</li>
              
              <li>sex2bodyType3+item(2595403)+model(74308)+effect(74308)</li>
              
              <li>sex2bodyType3+item(2595404)+model(74408)+effect(74410,74411)</li>
              
              <li>sex2bodyType3+item(2595405)+model(74508)+effect(74502)</li>
              
              <li>sex2bodyType3+item(2595406)+model(74608)+effect(74629,74630,74631)</li>
              
              <li>sex2bodyType3+item(2595406bk)+model(74608)+effect(74629,74630,74631)</li>
              
              <li>sex2bodyType3+item(2595407)+model(74708)+effect(74628)</li>
              
              <li>sex2bodyType3+item(2595408)+model(74808)+effect(71400,71401)</li>
              
              <li>sex2bodyType3+item(2595409)+model(74908)+effect(71308,71309)</li>
              
              <li>sex2bodyType3+item(2595410)+model(75008)+effect(75063)</li>
              
              <li>sex2bodyType3+item(2595411)+model(75108)+effect(75108)</li>
              
              <li>sex2bodyType3+item(2595412)+model(75208)+effect(75211,75213)</li>
              
              <li>sex2bodyType3+item(2595413)+model(75308)+effect()</li>
              
              <li>sex2bodyType3+item(2595414)+model(75408)+effect(75401)</li>
              
              <li>sex2bodyType3+item(2595414bk)+model(75408)+effect(75401)</li>
              
              <li>sex2bodyType3+item(2595416)+model(75608)+effect(71300)</li>
              
              <li>sex2bodyType3+item(2595417)+model(75708)+effect(71302,71303,71304)</li>
              
            </ul>
          </div>
          <img src="cid:resultD21Img_compressed_result_img_50_3645x12312" style="max-width: 100%;">
          <p>原始图片如下：</p>
          <img src="cid:oriD21Img_compressed_result_img_50_3645x12312" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </body>
</html>